#div1 {
    width: 150px;
    height: 70px;
    background-color: brown;
}

#div2{
    width: 150px;
    height: 60px;
    background-color: aqua;
}

.flex-parent {
    display: flex;
    padding: 20px;
}

.flex-child {
    flex: 1;
    padding: 20px;
    border: 1px dotted black;
}